.searchresults {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 14rem;
    height: 30rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    z-index: 2;
    background-color: var(--background);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.searchresults::-webkit-scrollbar {
    display: none;
}

.resultcontainer {
    position: absolute;
    /* top: 0; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
    z-index: 1;
    backdrop-filter: blur(2px);
}

.darken {
    background-color: rgba(0, 0, 0, 0.5);
}

.lighten {
    background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width:700px) {
    .resultcontainer {
        display: none;
    }
}

@media screen and (max-width:1100px) {
    .searchresults {
        width: max-content;
        left: 18rem;
    }
}